:root{
    --primary-color: rgb(231, 153, 8);
    --secondery-color: rgb(54, 44, 201);
    --header-title-color: rgb(255, 255, 255);
    --nav-background-color : rgba(255, 255, 255);
    --nav-item-color: rgb(0, 0, 0);
    --nav-item-color-hover: rgb(231,153,8);
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: inline-block;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-container{
    position: relative;
    min-width: 100%;
    height: auto;
    margin: -10px;
}

.header-image{
    object-fit: cover;
    width: 100%;
    height: auto;
    filter: blur(2px);
}

.header-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-logo{
    display: block;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    background-color: #24252a;
}

.nav-list{
    list-style: none;
}

.nav-list-item{
    display: inline-block;
    padding: 1rem;
}

.nav-list-item a{
    text-decoration: none;
    color: white;
}

.nav-list-item a:hover{
    color: var(--primary-color);
}

.nav-logo{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
}

.nav-logo:hover{
    color: var(--primary-color)
}
